{% load static %}
{% load sudoku_filter_extras %}
<!DOCTYPE html>
<html>
    <head>
        <title>Sudoku Game</title>
        <link rel="stylesheet" type="text/css" href="{% static 'sudoku/style.css' %}">
        <script src="{% static 'sudoku/script.js' %}"></script>
    </head>
    <body onload="fillPuzzle(0)">
        <div  class="container">
            <form action="/sudoku/" method="get">
                    <h1>Sudoku Game</h1>
                    <div id="holder">


                        <table>
                            {% for n in "123456789" %}
                            <tr>
                                {% for l in "ABCDEFGHI" %}
                                    <td>
                                        <input id="{{l}}{{n}}" type="text" name="{{l}}{{n}}" value="{{ values|letter:l|number:n }}" onkeypress="return isNumberKey(event)" class="square" maxlength="1" size="1">
                                    </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>



                    </div>
                    <div id="holder1">


                        <table>
                            {% for n in "123456789" %}
                            <tr width="25%">
                                {% for l in "ABCDEFGHI" %}
                                <td>

                                    <input id="{{l}}{{n}}" type="text" name="{{l}}{{n}}" value="{{ values|letter:l|number:n }}" class="square1" maxlength="1" size="1" disabled>
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>

                        <input id="solve" type="submit" value="Solve" class="center">
                    </div>

            </form>
        </div>
  </body>
</html>

